.item-pile-config form.flex {
    flex-direction: column;
}

form .form-group .form-fields > label {
    flex-grow: 2;
}

.database-entry > button {
    font-size: 0.5rem;
}

button.dice-tray__roll {
    font-size: 8px;
}